# Char recognition using features

In [1]:
import math
def predict(new_char,features):
    min_dist = 99
    best_char = []
    count = features.shape[0]
    for i in range(count):
        s = [(features.loc[i][j+1]-new_char[j])**2 for j in range(features.shape[1]-1)]
        eDist = math.sqrt(sum(s))
        #print(eDist)
        if( eDist <= min_dist ):
            if(eDist == min_dist):
                best_char.append(i)
            else:
                best_char.clear()
                best_char.append(i)
            min_dist = eDist
    return [features.loc[i][0] for i in best_char]

In [2]:
import pandas as pd
features = pd.read_csv('features.csv')
features

  Alpha  V Lines  H Lines  Diagonal  Curves
0     B        1        0         0       2
1     D        1        0         0       1
2     E        1        3         0       0
3     F        1        2         0       0
4     H        2        1         0       0
5     K        1        0         2       0
6     L        1        1         0       0
7     M        2        0         2       0
8     N        2        0         1       0
9     P        1        0         0       1

In [17]:
new_char = [2,0,0,2]
print(predict(new_char,features))

['B']

In [10]:
new_char = [1,1,0,1]
print(predict(new_char,features))

['D', 'L', 'P']

In [15]:
features_new = pd.read_csv('features_new.csv')
features_new

  Alpha  V Lines  H Lines  Curves  closed regoin
0     B        1        0       2              2
1     D        1        0       1              1
2     E        1        3       0              0
3     F        1        2       0              0
4     H        2        1       0              0
5     K        1        0       0              0
6     L        1        1       0              0
7     M        2        0       0              0
8     N        2        0       0              0
9     P        1        0       1              1

In [18]:
new_char = [2,0,0,0]
print(predict(new_char,features_new))

['M', 'N']

In [28]:
input_data = list()
for i in features_new.columns[1:]:
    input_data.append(int(input(str(i)+' : ')))

V Lines : 1
H Lines : 2
Curves : 0
closed regoin : 1

In [29]:
print(predict(input_data,features_new))

['F']